.amber {
  background-color: orange;
  display: flex;
  flex: 1;
}

.amber button {
  padding: 0;
}

.amber > * {
  flex: 1;
}

.amber-controls {
  flex: 1;
  display: flex;
}

.amber-controls button {
  flex: 1;
}
