.dmz {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.dmz button {
  background: pink;
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
  font-size: 6vw;
}
