.game-board {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.game-board > * {
  flex: 10;
}

.game-board > .dmz {
  flex: 1;
}

button {
  padding: 0;
  margin: 0;
  border-style: none;
  font-size: 4rem;
}
